.div_rond {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 141, 0.068);
  color: var(--bleu);
  margin-bottom: 10px;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 40px;
  position: relative;
  top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.div_rond p {
  margin-left: 20px;
  font-size: 13px;
}
.div_rond span {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 600;
  text-wrap: nowrap;
}
.div_rond:hover {
  background-color: rgba(0, 0, 141, 0.151);
}
#bas_droite_formation {
  position: relative;
  top: 20px;
}
.info_perso2_formation {
  height: 600px;
}

#bas_droite_info_sup {
  position: relative;
  bottom: 35px;
}

#part {
  color: #0e0e0e99;
  background-color: var(--gris-clair);
  transition: all 0.3s;
}

#part:hover {
  background-color: rgba(128, 128, 128, 0.273);
}

#valider_ {
  background-color: rgba(0, 128, 0, 0.111);
  color: var(--vert-fonce);
}
.etat {
  color: red;
  font-size: 10px;
}

#info_couleur {
  width: 430px;
  height: 80px;
  position: absolute;
  transform: translate(610px, 470px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  display: flex;
  animation: info_couleur 0.3s;
}
@keyframes info_couleur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gauche_info_couleur {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.droite_info_couleur {
  /* width: 100px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}
.droite_info_couleur .p_couleur {
  font-size: 12px;
  margin: 0;
  color: rgba(0, 0, 0, 0.797);
}
.coul {
  width: 50px;
  margin: 2px;
  height: 10px;
  border-radius: 20px;
}
