/* *{
  margin: 0;
  padding: 0;
} */
#ppale_resp {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 110px;
}
#affichagerespo {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  position: relative;
  margin-bottom: 20px;
  gap: 0;
}
#affichagerespo button {
  width: 200px;
  height: auto;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 114, 0.141);
  margin-left: 40px;
  background-color: white;
  color: rgba(0, 0, 0, 0.359);

  /* color: var(--bleu); */
  overflow: hidden;
  border: none;
  outline: none;
}
#affichagerespo button .tete_resp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 15px;
}
#affichagerespo button:hover {
  border: none;
  outline: none;
}
#affichagerespo button .tete_resp i {
  font-size: 20px;
}
#affichagerespo button .tete_resp span {
  font-size: 12px;
  text-wrap: nowrap;
}
#affichagerespo button .bas_resp {
  width: 100%;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.136);
  padding-top: 1px;
  padding-bottom: 5px;
}
#affichagerespo button .bas_resp p {
  font-size: 12px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
#table-crud {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#entete {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
}
#entete h2 {
  font-size: 14px;
  margin: 0;
  color: var(--bleu);
  margin-left: 30px;
}
#recherche__ {
  padding-left: 10px;
  font-size: 12px;
  height: 25px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.195);
  color: rgba(0, 0, 0, 0.501);
  margin-right: 10px;
  /* width: 20px; */
  /* transform: translateX(40px); */
  display: none;
  animation: recherche 0.5s;
}
@keyframes recherche {
  from {
    width: 20px;
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    width: auto;
    transform: translateX(0);
  }
}
#entete button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 12px;
  transition: all 0.3s;
}
#table-crud table tr {
  height: 50px;
  color: rgba(0, 0, 0, 0.484);
}
#table-crud table tr td {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(18, 0, 89, 0.186);
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s;
  height: 50px;
}
#button_action {
  display: flex;
  /* gap: 10px; */
  justify-content: center;
  align-items: center;
}

#button_action button {
  width: 30px;
  height: 30px;
  font-size: 11px;
  background-color: rgba(3, 3, 111, 0.126);
  color: var(--bleu);
}
#button_action button span {
}
#table-crud table {
  width: 95%;
  overflow: hidden;
}
#table-crud table th {
  font-size: 13px;
  background-color: white;
  color: rgba(0, 0, 0, 0.679);
  font-weight: normal;
  /* background-color: var(--vert-clair);
  border-bottom: 1px solid var(--vert-fonce); */
  /* color: white; */
}
#aj {
  margin-right: 30px;
  width: fit-content;
  height: 30px;
  gap: 5px;
  background-color: rgba(0, 128, 0, 0.111);
  color: var(--vert-fonce);
}
#search {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.195);
  color: rgba(0, 0, 0, 0.501);
}
td button {
  color: black;
}

#tableau_resp {
  width: 100%;
  height: 33vw;
  /* background-color: red; */
}
#tableau_resp .entete_responsable {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  height: 60px;
}

#tableau_resp .entete_responsable input {
  margin-left: 40px;
  width: 260px;
  height: 35px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.085);
  border: none;
  font-size: 13px;
}

#tableau_resp .entete_responsable button {
  border-radius: 20px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background-color: rgba(0, 128, 4, 0.111);
  color: var(--vert-fonce);
  gap: 6px;
  transition: all 0.3s;
  border: none;
  outline: none;
}
#tableau_resp .entete_responsable button:hover {
  background-color: rgba(0, 128, 0, 0.21);
}
#tableau_resp .entete_responsable button span {
  position: relative;
  bottom: 1px;
}
#tableau_resp .entete_responsable input:focus {
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.215);
  color: black;
}
#tableau_resp .tableau_responsable__ {
  display: flex;
  justify-content: center;
}
#tableau_resp .tableau_responsable__ table {
  width: 95%;
}
#tableau_resp .tableau_responsable__ table th {
  width: 250px;
}
#btn_td3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#affichagerespo button.active {
  color: var(--bleu);
}
#ajout_resp {
  background-color: rgba(0, 0, 0, 0.082);
  border: none;
  color: black;
  padding-left: 20px;
  width: 250px;
  font-size: 12px;
  height: 30px;
}
#ajout_resp:focus {
  border-bottom: 1px solid var(--bleu);
  outline: none;
}
#valid_btn_resp {
  background-color: var(--vert-ppale);
  width: 33px;
  font-size: 10px;
  height: 33px;
  margin: 10px;
  position: relative;
  color: white;
}
#annuler-btn-resp {
  background-color: rgba(0, 0, 0, 0.134);
  color: rgb(0, 0, 0);
  width: 33px;
  font-size: 13px;
  height: 33px;
}
